SphereInfoSolutionHRMS/BAL/BAL.csproj.user
*.suo
SphereInfoSolutionHRMS/SphereInfoSolutionHRMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.csproj
SphereInfoSolutionHRMS/SphereInfoSolutionHRMS/SphereInfoSolutionHRMS.csproj.user