<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>
      <authentication mode="Forms">
        <forms loginUrl="~/Login/Login.aspx" defaultUrl="~/home.aspx"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>      
    </system.web>
  <connectionStrings>
    <add name="HRMS" connectionString="Data Source=SIS-TEC-013\MSSQLSERVER2012;Initial Catalog=HRMS;Persist Security Info=True;User ID=sa;Password=123; Integrated Security=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
